* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

header {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 120px;
}

h1 {
  font-size: 24;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 40px;
  font-family: 'Poppins';
  font-size: 18px;
}