* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

header {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 120px;
}

h1 {
  font-size: 24;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  width: 600px;
  font-family: 'Poppins', sans-serif;
}

form {
  display: flex;
  height: 150px;
  width: 600px;
  border: 2px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

#time {
  height: 30px;
  width: 120px;
  padding: 8px;
  border: solid 1px black;
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
}

select {
  width: 100px;
  height: 30px;
  border: solid 1px black;
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

select option {
  font-family: 'Poppins', sans-serif;
}

.date-input {
  font-family: 'Poppins', sans-serif;
  height: 30px;
  margin-right: 8px;
  border: 1px solid black;
}

.add {
  height: 30px;
  width: 70px;
  background-color: rgb(238, 176, 62);
  border: solid 1px black;
  box-shadow: 2.5px 3px 1px black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.add:active {
  box-shadow: none;
  background-color: rgb(255, 207, 117);
}

.table-container::-webkit-scrollbar {
  display: none; /* Chrome */
}

.table-container {
  margin-top: 40px;
  max-height: 454px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


table {
  border: 2px solid black;
  font-family: 'Poppins', sans-serif;
  width: 600px;
}

th {
  background-color: rgb(216, 216, 216);
  justify-content: flex-start;
  text-align: left;
}

th, td {
  padding: 15px;
}

#button-table-container {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.remove-button {
  width: 20px; 
  height: 20px;
  border-radius: 10px;
  background-color: #FF0005;
  justify-content: center;
  align-items: center; 
  display: flex;
  color: white; 
  /* border: 2px solid black; */
  box-shadow: 1.5px 1px 0 black;
  font-weight: bold;
  font-size: 16px;
}

.remove-button:active {
  box-shadow: none;
  background-color: #FF4D4F;
}


h2 {
  margin-top: 40px;
  font-family: 'Poppins';
  font-size: 18px;
  /* font-weight: 500; */
}